<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Progress Bar 1
                </h4>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-primary progress-bar-striped active" style="height:10px;" role="progressbar" [style.width]="getValorProgress1">
                    </div>
                </div>
                <h4 class="card-title">
                    Progress Bar 2
                </h4>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-info progress-bar-striped active" style="height:10px;" role="progressbar" [style.width]="getValorProgress2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador [progresoValor]="valorProgress1" (cambioProgress)="valorProgress1=$event">
                </app-incrementador>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador [btnClass]="'btn-info'" [progresoValor]="valorProgress2" (cambioProgress)="valorProgress2=$event"></app-incrementador>
            </div>
        </div>
    </div>
</div>