/* You can add global styles to this file, and also import other style files */

#themecolors .selector, .cursor {
    cursor: pointer;
}

#google-btn{
    align-items: center;
    display: flex;
    justify-content: center;  
}

.perfil-imagen{
    width: 200px;
    height: 200px;
}

.width100{
    width: 100px;
}

.width170{
    width: 170px;
}

.avatar{
    border-radius: 100%;
    width: 50px;
}

.ocultar{
    display: none;
}

.fondo-imagen-modal{
    background-color: rgba(0,0,0,0.4);
    left: 0px;
    height: 100%;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999999;
}